.App {
  text-align: center;
  
}

body{
  background-color: black
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

form {
  max-width: 50vw;
  margin: 0 auto;
}

button {
  margin: 1px;
}

.nav{
  
  min-height: 100px;
  
}

.nav a {
  color: whitesmoke;
  text-shadow: 2px 2px darkgreen;
  margin: 5px;
  font-size: x-large;
  font-weight: bold;
}

h1,
h2 {
  margin-top: 20px;
  color: whitesmoke;
  font-weight: bold;
}

p{
  color: whitesmoke
}

.nav a:hover {
  text-decoration: none;
  color: #FFFFFF;
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #0ff, 0 0 30px #0ff, 0 0 40px #0ff, 0 0 55px #0ff, 0 0 75px #0ff;
  
   ;
}

.projects-container {
  display: flex;
  padding: 5vh 5vw;
}

.projects-container > * {
  flex: 1;
}

.SocialButtons {
  display: flex;
  justify-content: center;
}

.guestBook-Align{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 25px 50px 25px;
  border: 1px solid grey;
  border-radius: 12px;
  padding: 15px 15px;
  background-color: black;
  box-shadow: 10px 10px 50px 20px #0ff;
  height: 800px;
}

.guestbookEntrie{
  height: 1000px;
  overflow-y: scroll;
  width: 1000px
}

.guestbook{
  border: 1px solid #0ff;
  margin: 5px 150px 5px 25px;
  display: flex;
  justify-content: left;
  align-items: flex-start;
  flex-direction: row;
  width: 850px;
  height: 250px;
  box-shadow: 2px 2px  grey;
  
  }

.oneGuestbookEntrie{
  max-height: 110px;
  max-width: 550px;
  min-width: 550px;
  overflow-y: scroll;
}



.btn_guestbook{
  margin: 15px 0; 
  background-color: whitesmoke;
  border: none;
}

.guestbook div{
  padding: 15px 25px;
 }

.guestbook div p{
  text-align: left;
}

.guestbook div h1{
  text-align: left;
  font-size: 20px;
}

.guestBookUser{
  max-height: 140px;
  margin: 2px 2px;
  color: whitesmoke;
  
 }

 .guestBookUser img{
   max-height: 100px;
   background-color: white;
   
 }

.guestbookForm div{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.guestbookForm textarea{
  width: 100%
}


.UserProfil{
  margin: 150px 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  box-shadow:  0 0 15px #0ff, 0 0 30px #0ff, 0 0 40px #0ff, 0 0 55px #0ff, 0 0 75px #0ff;
  border-radius: 30px;
  position: absolute;
  
}

.UserProfil img{
 min-width: 300px;
 max-width: 400px;
 
}

.UserProfil >div{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 0 50px;
  
}

.UserProfil a:hover{
  text-decoration: none;
}

.userData{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: whitesmoke;
  color: black;
  text-align: left;
  padding: 0 5px
}

.gamesCard{
  box-shadow: 5px 5px 15px grey;
  width: 200px;
}

.cardDisplay{
  display: flex;
  justify-content: space-evenly;
}



.playerCard{
  box-shadow: 10px 10px 50px 20px #0ff;
  max-width: 100px;
  min-height: 100px;
  min-width: 100px;
  margin: 15px 0;
  text-align: center;
  background-color: #0ff;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  
   
}

.playerCard img{
  padding: 15px 0;
  
}

button{
  border:none;
  min-width: 100px;
}

.title {
  color: grey;
  font-size: 18px;
}

.alignUsers {
 display: grid;
 align-items: flex-start;
 flex-direction: column;
 
}



.alignUsers button{
  max-width: 100px;
}


.alignPlayerShow{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;

}


.welcomPage{
  min-width: 500px;
  min-height: 800px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.FontAwesome:hover{
  box-shadow: 10px 10px 50px 20px #0ff;
}



.formSignup{
  box-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #0ff, 0 0 30px #0ff, 0 0 40px #0ff, 0 0 55px #0ff, 0 0 75px #0ff;
  margin: 25px 50px 0 50px;
  padding: 25px 0;
  border-radius: 15px;
}


/* Flipping Cards */
.card-container{
  perspective: 1000px;
  background-color: transparent;
  width: 300px;
  height: 300px;
  margin: 50px 50px;
}

.card-container:hover .card{
  transform: rotateY(180deg);
}

.card{
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  background-color: rgb(29, 16, 39);
  box-shadow:  0 0 15px #0ff, 0 0 30px #0ff, 0 0 40px #0ff, 0 0 55px #0ff, 0 0 75px #0ff;
  border-radius: 15px; 
        
}


.front, .back{
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px 10px;
  word-break: break-all
}

.back{

  -webkit-transform: rotateY( 180deg );
            transform: rotateY( 180deg );
}

.gameArrange{
  margin: 25px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.front h1{
  color: whitesmoke;
  font-size: 190%;
  text-shadow: 2px 2px black;
   }

.front img{
  max-width: 50%;
  position: absolute;
  opacity: 0.18;
}

.back p{
  color: whitesmoke;
}

.createGame{
  display: flex;
  justify-content: center;
  
  flex-direction: column;
  
}


.createGame label{
  width: 100px
}

.createGame input, textarea{
  width: 350px
}

.editAvatar{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white
}

.editAvatar Form{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

<<<<<<< HEAD
.eventhistory{
  background-image: url(https://unsplash.com/photos/tloFnD-7EpI);
}
=======

.EventData{
  margin: 150px 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  box-shadow:  0 0 15px #0ff, 0 0 30px #0ff, 0 0 40px #0ff, 0 0 55px #0ff, 0 0 75px #0ff;
  border-radius: 30px;
  position: absolute;
  
}


/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}



.answerdetail{
  
  max-width: 800px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: 5px 150px 5px 25px;
  
}

.answer{
  display: flex;
  justify-content: center;
  max-width: 100%;
  margin: 10px 50px;
  
}

.answer > div{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.answer div:nth-child(2){
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  
}

.answer img{
  max-width: 100px;
  margin: 0 30px 0 0
}

.answer h1{
  font-size: 20px;
}

.arrangeDateAndAnswer{
  display: flex;
  justify-content: left;
  
}

.arrangeDateAndAnswer p{
  padding: 0 50px 0 0;
  
}

>>>>>>> master
