.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

form {
  max-width: 50vw;
  margin: 0 auto;
}

button {
  margin: 1px;
}

.nav a {
  color: white;
  margin: 5px;
}

h1,
h2 {
  margin-top: 20px;
}

.nav a:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}

.projects-container {
  display: flex;
  padding: 5vh 5vw;
}

.projects-container > * {
  flex: 1;
}

.SocialButtons {
  display: flex;
  justify-content: center;
}

.guestBook-Align{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.guestbook{
  border: 1px solid black;
  margin: 5px 150px 5px 25px;
  display: flex;
  justify-content: left;
  align-items: flex-start;
  flex-direction: row;
  width: 800px;
  height: 150px;
  }

.guestbook div{
  padding: 15px 25px;
 }

.guestbook div p{
  text-align: left;
}

.guestbook div h1{
  text-align: left;
  font-size: 20px;
}

.guestBookUser{
  border: 1px solid;
  margin: 5px 5px;
  background-color: grey;
  color: whitesmoke;
 }

.UserProfil{
  margin: 50px 0;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: column;
}

.UserProfil img{
 width: 100px
}


footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: left;
  padding: 0 5px
}

