.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

form {
  max-width: 50vw;
  margin: 0 auto;
}

button {
  margin: 1px;
}

.nav a {
  color: white;
  margin: 5px;
}

h1,
h2 {
  margin-top: 20px;
}

.nav a:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}

.projects-container {
  display: flex;
  padding: 5vh 5vw;
}

.projects-container > * {
  flex: 1;
}
