@import url('https://fonts.googleapis.com/css?family=Open+Sans|Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css?family=Orbitron:400,600,700&display=swap');


.App {
  text-align: center;
  
}

body{
  background-color: black;
  font-family: 'Orbitron', sans-serif;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

form {
  max-width: 50vw;
  margin: 0 auto;
}

button {
  margin: 1px;
}

.nav{
  
  min-height: 100px;
}

.nav a {
  color: whitesmoke;
  text-shadow: 2px 2px darkgreen;
  margin: 5px;
  font-size: x-large;
  font-weight: bold;
}

h1,
h2 {
  margin-top: 20px;
  color: whitesmoke;
  font-weight: bold;
}

p{
  color: whitesmoke
}

.nav a:hover {
  text-decoration: none;
  color: #FFFFFF;
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #0ff, 0 0 30px #0ff, 0 0 40px #0ff, 0 0 55px #0ff, 0 0 75px #0ff;
  
   ;
}

.projects-container {
  display: flex;
  padding: 5vh 5vw;
}

.projects-container > * {
  flex: 1;
}

.SocialButtons {
  display: flex;
  justify-content: center;
}

/* Guestbook design */

.guestBook-Align{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 25px 50px 25px;
  border: 1px solid grey;
  border-radius: 12px;
  padding: 15px 15px;
  background-color: black;
  box-shadow: 10px 10px 50px 20px #0ff;
  height: 800px;
}


.guestbookEntrie{
  height: 1000px;
  overflow-y: scroll;
  width: 1000px;
   
}

.guestbook{
  border: 1px solid #0ff;
  margin: 5px 150px 5px 25px;
  display: flex;
  justify-content: left;
  align-items: flex-start;
  flex-direction: row;
  width: 850px;
  height: 250px;
  box-shadow: 2px 2px  grey;
  
  }


 .guestbookEntrie::-webkit-scrollbar { height: 0 !important }

 .oneGuestbookEntrie::-webkit-scrollbar { height: 0 !important }

.oneGuestbookEntrie{
  max-height: 110px;
  max-width: 550px;
  min-width: 550px;
  overflow-y: scroll;
}



.btn_guestbook{
  margin: 5px 0; 
  background-color: black;
  border: 1px solid #0ff;
  color: white;
  border-radius: 5px;
  width: 280px;
  height: 50px;
  font-size: larger;
  
}

.btn_guestbook:hover{
  background-color: #0ff;
  color: black;
  transition: all .4s ease-in-out;
  border: none;
  
}

.guestbook div{
  padding: 15px 25px;
 }

.guestbook div p{
  text-align: left;
}

.guestbook div h1{
  text-align: left;
  font-size: 20px;
}

.guestBookUser{
  max-height: 250px;
  margin: 2px 2px;
  color: whitesmoke;
  word-break: break-all;
  
 }

 .guestBookUser img{
   max-height: 100px;
   background-color: white;
   
 }

.guestbookForm div{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.guestbookForm textarea{
  width: 100%
}



/* Userprofil  */
.UserProfil{
  margin: 150px 350px;
  display: flex;
  justify-items: space-evenly;
  align-items: center;
  flex-direction: row;
  padding: 10px 0 10px 0;
  box-shadow:  0 0 15px #0ff, 0 0 30px #0ff, 0 0 40px #0ff, 0 0 55px #0ff, 0 0 75px #0ff;
  border-radius: 30px;
  position: absolute;
  
}

.UserProfil a{
  color: white;
  font-size: large;
}

.UserProfil a:hover{
  font-weight: bolder
}

.UserProfil img{
 min-width: 300px;
 max-width: 400px;
 border-radius: 15px ;
}

.UserProfil >div{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 0 50px 0 25px;
  
}

.UserProfil a:hover{
  text-decoration: none;
}

.userProfilData input{
  width: 100%;
  background-color: rgb(112, 228, 228);
  font-weight: bold;
  border-radius: 5px;
  border-style: groove;
  
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: whitesmoke;
  color: black;
  text-align: left;
  padding: 0 5px
}



.cardDisplay{
  display: flex;
  justify-content: space-evenly;
}



.playerCard{
  box-shadow: 10px 10px 50px 20px #0ff;
  max-width: 100px;
  min-height: 100px;
  min-width: 100px;
  margin: 15px 0;
  text-align: center;
  background-color: #0ff;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  
   
}

.playerCard img{
  padding: 15px 0;
  max-width: 90%
}

.playerCard p{
 color: black;
 font-weight: bold;
 max-width: 95%;
 word-break: break-all;
}

button{
  border:none;
  min-width: 100px;
}

.title {
  color: grey;
  font-size: 18px;
}


/* Usersliste auf der Mainpage */

.alignUsers {
 display: grid;
 align-items: flex-start;
 flex-direction: column;
 

}

.alignUsers button{
  max-width: 100px;
}

.alignPlayerShow{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  overflow: scroll;
  overflow-x: hidden;
  width: 250px;
  height: 1000px;
  padding-top: 500px;
  padding-bottom: 50px
  
    
}

.alignPlayerShow::-webkit-scrollbar { height: 0 !important }


.welcomPage{
  min-width: 500px;
  min-height: 800px;
  background-color: black;
  display: flex;
  justify-content: top;
  align-items: center;
  flex-direction: column;
}

.FontAwesome:hover{
  box-shadow: 10px 10px 50px 20px #0ff;
}



.formSignup{
  box-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #0ff, 0 0 30px #0ff, 0 0 40px #0ff, 0 0 55px #0ff, 0 0 75px #0ff;
  margin: 25px 50px 0 50px;
  padding: 25px 0;
  border-radius: 15px;
}


.editAvatar{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white
}

.editAvatar Form{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.eventhistory{
  background-image: url("https://images.unsplash.com/photo-1515041219749-89347f83291a?ixlib=rb-1.2.1&auto=format&fit=crop&w=1934&q=80");
  height: 600px;
  width: auto;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Rock Salt', cursive;
  margin-top: 120px
  }

.eventhistory h3{
  font-size: 38px;
  transform: rotate(-20deg);
  position: absolute;
  top: 300px;
  left: 480px;
  color: whitesmoke;
  text-shadow: 2px 2px black;
  margin-top: 140px
}







/* Hier fängt das Design für die Antworten im Guestbook an */

.answerdetail{
  
  max-width: 800px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: 5px 150px 5px 25px;
  
}

.answer{
  display: flex;
  justify-content: center;
  max-width: 100%;
  margin: 10px 90px;
  
}



/* Hier ist das alternative Design für die Antworten */

.answer > div{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: 0 10px;
  padding: 0 5px
}

.answer div:nth-child(2){
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  
}

/* Hier ist das Ende für das alternative Design für die Antworten */

.answer img{
  max-height: 80px;
  margin: 0 30px 0 0;

}

.answer h1{
  font-size: 20px;
  
}

.arrangeDateAndAnswer{
  display: flex;
  justify-content: left;
  
}

.arrangeDateAndAnswer >p{
  padding: 0 50px 0 0;
  text-overflow: ellipsis;
}


/* Design für das Modal Popup */
.modalButton{
  background-color: white;
  border: 2px solid black;
 
}

.modalButton:hover{
  background-color: black;
  color: white;
  transition: all .4s ease-in-out;
}

.modalAvatar{
  background-color: white;
  border: 2px solid black;
  color: black
}

.modalAvatar:hover{
  background-color: black;
  color: white;
  transition: all .4s ease-in-out;
}



/* Hier das Design für die Playerdetails */
.playerDetails{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background-color: black;
  box-shadow: 5px 0px 15px grey;
  
  }


  .playerDetailsFotter{
    box-shadow: 5px 5px 15px grey;
  }

  


 .playerModal img{
   background-color: rgb(224, 214, 214);
   min-width: 100%;
   max-width: 100%;
   position: relative;
  
 }


 /* Hier das Design, damit das Form im Modal für die Games besser aussieht */
 .gameInputArrange{
   display: flex;
   justify-items: center;
   align-items: flex-start;
   flex-direction: column;
   
 }


 .gameInputArrange input, textarea{
   width: 100%
 }


 .gamesCard{
  box-shadow: 5px 5px 15px grey;
  width: 200px;
}


.gameArrange{
  margin: 25px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}


.createGame{
  display: flex;
  justify-content: center;
  
  flex-direction: column;
  
}


.createGame label{
  width: 100px
}

.createGame input, textarea{
  width: 350px
}


/* Flipping Cards für die Games*/
.card-container{
  perspective: 1000px;
  background-color: transparent;
  width: 300px;
  height: 300px;
  margin: 50px 50px;
}

.card-container:hover .card{
  transform: rotateY(180deg);
}

.card{
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  background-color: rgb(29, 16, 39);
  box-shadow:  0 0 15px #0ff, 0 0 30px #0ff, 0 0 40px #0ff, 0 0 55px #0ff, 0 0 75px #0ff;
  border-radius: 15px; 
        
}


.front, .back{
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px 10px;
  word-break: break-all
}

.back{

  -webkit-transform: rotateY( 180deg );
            transform: rotateY( 180deg );
}



.front h1{
  color: whitesmoke;
  font-size: 190%;
  text-shadow: 2px 2px black;
   }

.front img{
  max-width: 50%;
  position: absolute;
  opacity: 0.18;
}

.back p{
  color: whitesmoke;
}


.startpageTest{
  margin: 150px 350px;
  display: flex;
  justify-items: space-evenly;
  align-items: center;
  flex-direction: row;
  padding: 10px 0 10px 0;
  box-shadow:  0 0 15px #0ff, 0 0 30px #0ff, 0 0 40px #0ff, 0 0 55px #0ff, 0 0 75px #0ff;
  border-radius: 30px;
}

.startpageTest img{
  min-width: 300px;
 max-width: 400px;
 border-radius: 15px 
}

.aboutModalBody{
  background-color: black;
  height: 300px;
  box-shadow: 10px 60px 120px -60px rgba(43,193,196,1);
}

.aboutModalBodyDiv  >p{
  color: whitesmoke;


.eventDetailsCard{
  -webkit-box-shadow: 14px 40px 118px 58px rgba(67,150,191,1);
  -moz-box-shadow: 14px 40px 118px 58px rgba(67,150,191,1);
  box-shadow: 14px 40px 118px 58px rgba(67,150,191,1);
   width: 1000px;
  padding: 50px 0;
  border-radius: 15px;
  
  margin: 50px 0 100px 500px;
  padding: 10px 0 50px 0;
}









/* EventData Arrangement */

.eventArrange{
  margin: 25px 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  
  
}



.eventArrange a{
  text-decoration: none;
  color: whitesmoke
}


/* .EventData{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  position: absolute;
  background-color: black;
 
}
 */
.Mainpage{
  
  display: flex;
  justify-items: space-between;
  align-items: center;
  flex-direction: row;
  height: 1000px
}

.userButton{
  
    background: none repeat scroll 0 0 #0ff;
    border: medium none;
    color: black;
    height: 50px;
    left: 0;
    position: fixed;
    top: 30px;
    width: 100px;
    height: 24px;
    font-weight: bolder
}

.hide{
  background-color: black;
  color: #0ff;
  border: none;
  height: 25px;
  
}


.btn_event{
  margin: 5px 0; 
  background-color: black;
  border: 1px solid #0ff;
  color: white;
  border-radius: 5px;
  width: 250px;
  height: 50px;
  font-size: larger;
  }


.btn_event:hover{
  background-color: #0ff;
  color: black;
  transition: all .4s ease-in-out;
  border: none;
  
}


.singleEvent{
  width: 400px;
  -webkit-box-shadow: 53px 56px 203px 39px #4f6875;
-moz-box-shadow: 53px 56px 203px 39px rgba(79,104,117,1);
box-shadow: 53px 56px 203px 39px rgba(79,104,117,1);
  margin: 15px;
  border-top-right-radius: 50px;
  background-color: rgb(42, 209, 209);
  
}

.event_basic{
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
}



.subscribe{
  background-color: #005fb5;
  color: white;
  font-weight: bolder;
  border-color: #005fb5;
  }

.subscribe:hover, .unsubscribe:hover, .delete:hover, .deleteGame:hover{
  background-color: white;
  color:  #005fb5;
}

.unsubscribe{
  background-color: #6092bf;
  color: white;
  font-weight: bolder;
  border-color: #6092bf;
}

.delete{
  background-color: #ff7000;
  color: white;
  font-weight: bolder;
  border-color: #ff7000
  
}

.team{
  background-color: #ffcf00;
  border:none;
  font-weight: bold;
  
}

.team:hover{
  background-color: black;
  color: #ffcf00;
  border: 1px solid #ffcf00;
}

.game{
  border-color: #ffcf00;
  border-width: thin;
  color: #ffcf00
}

.game:hover{
  background-color: #ffcf00;
  border-width: thin;
  color: black;
  font-weight: bold;
}

.subscribe, .unsubscribe, .delete, .team, .game{
  margin: 30px 15px 15px 25px
}


.createTeam{
  border: 2px solid white;
  border-radius: 15px;
  margin: 10px 250px;
  padding: 18px 0 10px 0;
}


.eventCard{
  margin: 0 60px 0 100px;
  border-radius: 15px;
  border: 1px solid white
 
}

.eventCard h1{
  font-size: 50px;
  color: whitesmoke;
  font-weight: bold
}

.eventCard h4{
  color: whitesmoke;
  font-size: 35px;
  font-weight: bolder
}

.eventCard p{
  color: whitesmoke;
  font-size: 28px
}

.timeEvent p{
  color: whitesmoke;
  font-size: 20px
}

.Games{
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: row;
  width: 100%;
  padding: 0 100px
  
}

.Games p{
  width: 250px;
  border: 1px solid whitesmoke;
  margin: 0 100px;
  
}

.deleteGame{
  background-color: #ff7000;
  color: white;
  font-weight: bolder;
  border-color: #ff7000
}

.createTeam div> p{
  color: white;
  font-size: 25px;
  font-weight: bold
 
}

.createTeam div >span{
  color: white;
  font-size: 20px
}

.createEvent{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}